# TAREA 1.5 GESTIÓN DE DATAFRAMES
## *Importamos librerías necesarias*

In [1]:
import pandas as pd
import warnings

## 1- Carga de datos
* Carga el fichero ListadoVentasAgosto23.csv con los datos en un dataframe de Pandas.

In [2]:
warnings.filterwarnings('ignore')
df = pd.read_csv(
    'T1.5VentasAgosto23.csv',
    encoding='windows-1252',
    decimal=",",
    parse_dates=['Fechanacimiento', 'FechaCompra']
)

In [3]:
print(df.tail())

    IDCliente Fechanacimiento  Edad  Artículos Importe FechaCompra
994     C0995      1978-09-10    45         20  787.18  2023-08-26
995     C0996      1986-05-22    37          5  477.31  2023-12-08
996     C0997      1987-01-20    36         20  308.88  2023-08-25
997     C0998      1998-03-09    25          6  266.94  2023-08-21
998     C0999      1976-05-12    47          7   11.33  2023-02-08

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IDCliente        999 non-null    object
 1   Fechanacimiento  999 non-null    datetime64[ns]
 2   Edad             999 non-null    int64
 3   Artículos        999 non-null    int64
 4   Importe          999 non-null    object
 5   FechaCompra      999 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 47.0+ KB
None

## 2- Extracción de subconjunto
Imprime por pantalla: 
* Todas las filas de las columnas Edad y Número de elementos.

In [5]:
print(f"{df['Edad']} y numero de elementos: {len(df['Edad'])}")

0      39
1      37
2      33
3      27
4      39
       ..
994    45
995    37
996    36
997    25
998    47
Name: Edad, Length: 999, dtype: int64 y numero de elementos: 999

* Valores de Edad y Artículos para el segundo y tercer registro.

In [6]:
print(df.loc[1:2, ['Edad', 'Artículos']])

   Edad  Artículos
1    37         19
2    33         14

* Fecha de compra para los últimos 5 registros.

In [7]:
print(df['FechaCompra'].tail()) # Por defecto carga los últimos 5 si no tail(n)

994   2023-08-26
995   2023-12-08
996   2023-08-25
997   2023-08-21
998   2023-02-08
Name: FechaCompra, dtype: datetime64[ns]

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IDCliente        999 non-null    object
 1   Fechanacimiento  999 non-null    datetime64[ns]
 2   Edad             999 non-null    int64
 3   Artículos        999 non-null    int64
 4   Importe          999 non-null    object
 5   FechaCompra      999 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 47.0+ KB
None

## 3- Carga de datos indicando los índices
Vuelve a cargar el dataframe de forma que tome el primer valor de cada registro como el índice. 

Vuelve a ejecutar .info() para verificar que IDCliente ya no es una columna.

In [9]:
df = pd.read_csv(
    'T1.5VentasAgosto23.csv',
    encoding='windows-1252',
    decimal=",",
    parse_dates=['Fechanacimiento', 'FechaCompra'],
    index_col=['IDCliente']
)

In [10]:
print(df.head())

          Fechanacimiento  Edad  Artículos Importe FechaCompra
IDCliente
C0001          1984-08-12    39         14  803.89  2023-05-08
C0002          1986-12-08    37         19  136.35  2023-08-18
C0003          1990-04-16    33         14  287.17  2023-04-08
C0004          1996-02-12    27          7  672.57  2023-08-16
C0005          1984-05-14    39         13  170.12  2023-02-08

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, C0001 to C0999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fechanacimiento  999 non-null    datetime64[ns]
 1   Edad             999 non-null    int64
 2   Artículos        999 non-null    int64
 3   Importe          999 non-null    object
 4   FechaCompra      999 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 46.8+ KB
None

## 4- Índice con mayor importe
Recupera el índice de la fila con el mayor importe.

In [12]:
id_max = df['Importe'].idxmax()
imp_max = df['Importe'].max()
print(f"Codigo cliente: {id_max} con un importe de {imp_max}")

Codigo cliente: C0129 con un importe de 997.36

In [13]:
print(df.head())
print(df.info())

          Fechanacimiento  Edad  Artículos Importe FechaCompra
IDCliente
C0001          1984-08-12    39         14  803.89  2023-05-08
C0002          1986-12-08    37         19  136.35  2023-08-18
C0003          1990-04-16    33         14  287.17  2023-04-08
C0004          1996-02-12    27          7  672.57  2023-08-16
C0005          1984-05-14    39         13  170.12  2023-02-08
<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, C0001 to C0999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fechanacimiento  999 non-null    datetime64[ns]
 1   Edad             999 non-null    int64
 2   Artículos        999 non-null    int64
 3   Importe          999 non-null    object
 4   FechaCompra      999 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 46.8+ KB
None

## 5- Asignar un valor a varios elementos
Decides que aquellos clientes que tengan una compra inferior a 25€ les vas a poner un valor de 10.

**Como el df.info() dice que importe es tipo object cambiamos a numeric:**

In [14]:
df['Importe'] = pd.to_numeric(df['Importe'])

* Ahora si podemos asignar valor numérico:

In [15]:
df.loc[df['Importe'] < 25, 'Importe'] = 10

* Comprobamos ordenando por Importe de mayor a menor:

In [16]:
print (df.sort_values(by=['Importe'], ascending=False).tail())

          Fechanacimiento  Edad  Artículos  Importe FechaCompra
IDCliente
C0030          1997-03-14    26         19     10.0  2023-08-16
C0296          1973-07-13    50          9     10.0  2023-08-15
C0737          1996-02-11    27         17     10.0  2023-10-08
C0733          1980-03-08    43          1     10.0  2023-08-24
C0999          1976-05-12    47          7     10.0  2023-02-08

# 6- Ordenar el Dataframe
1. Ordenar las filas del dataframe de modo que el importe se muestre en orden descendente. 
2. Debes modificar el dataframe original para que este cambio sea definitivo. 
3. Imprime por pantalla el dataframe anterior, pero ordenado por el índice de forma ascendente (IDCliente). En esta ordenación no debes modificar el dataframe original.

In [17]:
# Ordenar
df = df.sort_values(by=['Importe'], ascending=False)
print (df)

          Fechanacimiento  Edad  Artículos  Importe FechaCompra
IDCliente
C0129          1975-08-20    48         11   997.36  2023-08-27
C0975          1986-12-08    37          1   995.56  2023-02-08
C0709          1977-11-14    46          5   993.91  2023-08-24
C0993          1979-03-29    44         15   993.51  2023-11-08
C0127          1999-10-15    24         19   991.28  2023-06-08
...                   ...   ...        ...      ...         ...
C0030          1997-03-14    26         19    10.00  2023-08-16
C0296          1973-07-13    50          9    10.00  2023-08-15
C0737          1996-02-11    27         17    10.00  2023-10-08
C0733          1980-03-08    43          1    10.00  2023-08-24
C0999          1976-05-12    47          7    10.00  2023-02-08

[999 rows x 5 columns]

In [18]:
# Imprimo por orden ascendente sin modificar
print(df.sort_values(by=['IDCliente'], ascending=True))

          Fechanacimiento  Edad  Artículos  Importe FechaCompra
IDCliente
C0001          1984-08-12    39         14   803.89  2023-05-08
C0002          1986-12-08    37         19   136.35  2023-08-18
C0003          1990-04-16    33         14   287.17  2023-04-08
C0004          1996-02-12    27          7   672.57  2023-08-16
C0005          1984-05-14    39         13   170.12  2023-02-08
...                   ...   ...        ...      ...         ...
C0995          1978-09-10    45         20   787.18  2023-08-26
C0996          1986-05-22    37          5   477.31  2023-12-08
C0997          1987-01-20    36         20   308.88  2023-08-25
C0998          1998-03-09    25          6   266.94  2023-08-21
C0999          1976-05-12    47          7    10.00  2023-02-08

[999 rows x 5 columns]

In [19]:
print(df.head())
print(df.info())

          Fechanacimiento  Edad  Artículos  Importe FechaCompra
IDCliente
C0129          1975-08-20    48         11   997.36  2023-08-27
C0975          1986-12-08    37          1   995.56  2023-02-08
C0709          1977-11-14    46          5   993.91  2023-08-24
C0993          1979-03-29    44         15   993.51  2023-11-08
C0127          1999-10-15    24         19   991.28  2023-06-08
<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, C0129 to C0999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fechanacimiento  999 non-null    datetime64[ns]
 1   Edad             999 non-null    int64
 2   Artículos        999 non-null    int64
 3   Importe          999 non-null    float64
 4   FechaCompra      999 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 46.8+ KB
None

## 7- Reindexar el dataframe
Modificar los índices del dataframe, añadiendo una “c” antes del número. 
Es decir, los índices de las filas serán: “c1, c2, ..., c10,...”. 
El cambio debe ser permanente.

In [20]:
# Usamos lambda con rename y replace
df = df.rename(index=lambda x: x.replace('0', ''))

In [21]:
print(df.head())

          Fechanacimiento  Edad  Artículos  Importe FechaCompra
IDCliente
C129           1975-08-20    48         11   997.36  2023-08-27
C975           1986-12-08    37          1   995.56  2023-02-08
C79            1977-11-14    46          5   993.91  2023-08-24
C993           1979-03-29    44         15   993.51  2023-11-08
C127           1999-10-15    24         19   991.28  2023-06-08

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, C129 to C999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fechanacimiento  999 non-null    datetime64[ns]
 1   Edad             999 non-null    int64
 2   Artículos        999 non-null    int64
 3   Importe          999 non-null    float64
 4   FechaCompra      999 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 46.8+ KB
None

# 8- Aplicar función a los datos de las columnas
Diferencia entre el máximo y el mínimo.  
Debes hacerlo en el menor número de instrucciones posible.

In [23]:
# Función que recibe parámetros a evaluar
def calculate_difference(n1, n2):
    return n1 - n2

In [24]:
print(calculate_difference(df['Importe'].max(), df['Importe'].min()))

987.36

In [25]:
print(df.head())
print(df.info())

          Fechanacimiento  Edad  Artículos  Importe FechaCompra
IDCliente
C129           1975-08-20    48         11   997.36  2023-08-27
C975           1986-12-08    37          1   995.56  2023-02-08
C79            1977-11-14    46          5   993.91  2023-08-24
C993           1979-03-29    44         15   993.51  2023-11-08
C127           1999-10-15    24         19   991.28  2023-06-08
<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, C129 to C999
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fechanacimiento  999 non-null    datetime64[ns]
 1   Edad             999 non-null    int64
 2   Artículos        999 non-null    int64
 3   Importe          999 non-null    float64
 4   FechaCompra      999 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 46.8+ KB
None

# Correlación entre las columnas
Obtén la correlación entre las diferentes columnas.  
Relación completa entre ellas ??.  
Modifica dataframe para borrar aquella que no aporta nueva información.

In [26]:
print(df.corr())

                 Fechanacimiento      Edad  Artículos   Importe  FechaCompra
Fechanacimiento         1.000000  0.254477   0.033631 -0.029320    -0.026277
Edad                    0.254477  1.000000  -0.012766 -0.049197     0.078776
Artículos               0.033631 -0.012766   1.000000  0.001089     0.044234
Importe                -0.029320 -0.049197   0.001089  1.000000     0.000395
FechaCompra            -0.026277  0.078776   0.044234  0.000395     1.000000

In [ ]:
"""
Hay Correlación entre fecha de nacimiento y edad pues vemos que las variables tienen relación 
lineal.
Suprimiría la columna Edad
"""

In [27]:
df.drop('Edad', axis=1, inplace=True)
print(df.head())
print(df.info())

          Fechanacimiento  Artículos  Importe FechaCompra
IDCliente
C129           1975-08-20         11   997.36  2023-08-27
C975           1986-12-08          1   995.56  2023-02-08
C79            1977-11-14          5   993.91  2023-08-24
C993           1979-03-29         15   993.51  2023-11-08
C127           1999-10-15         19   991.28  2023-06-08
<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, C129 to C999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fechanacimiento  999 non-null    datetime64[ns]
 1   Artículos        999 non-null    int64
 2   Importe          999 non-null    float64
 3   FechaCompra      999 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1)
memory usage: 39.0+ KB
None

[Documentación Pandas-Dataframe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)